@model IEnumerable<CatBuddy.Models.Produto>

@{
    ViewData["Title"] = "Carrinho";
}


<p>
    <div class="row">
        <div class="col-10">
            <h2 class="paytone-one-regular text-purple">Carrinho</h2>
        </div>
        <div class="col-1">
            <h3 class="paytone-one-regular text-purple">Preço</h3>
        </div>
    </div>

    @foreach (var item in Model)
    {

        <div class="container border-bottom">
            <div class="row">
                @*foto*@
                <div class="col-2 ">
                    <img src="@item.ImgPath" width="80%" height="80%" />
                </div>
                @* Descricao *@
                <div class="col-8">
                    <h4 class="paytone-one-regular">@item.DsNome</h4>
                    <h6>@item.CodFornecedor</h6>
                </div>
                @*Preço*@
                <div class="col-2">
                    <h6 class="paytone-one-regular"><b>R$: </b>@item.Preco</h6>
                    <p> </p>
                    <p>
                        <a class="btn btn-success btn-md paytone-one-regular" style="width:100%">Adicionar</a>
                    </p>
                    <p>
                        <a class="btn btn-danger btn-md paytone-one-regular" style="width:100%" >Remover</a>

                    </p>
                </div>
            </div>
        </div>
    }
