@{
    ViewData["Title"] = "Sucesso";
}

<h4 class="text-center text-purple">Sua compra foi finalizada com sucesso e os detalhers foram enviados para  o e-mail cadastrado</h4>
<div class="d-flex justify-content-center my-5">
    <img src="~/img/bandeiras/image_62.png" />
</div>
<h4 class="text-center text-purple">Obrigado pro comprar conosco!</h4>

