@model IEnumerable<CatBuddy.Models.Categoria>

@{
    ViewData["Title"] = "Home Page";
}

<style>
    /* Estilo personalizado para o carrossel ocupar toda a largura da tela */
    .conteinerCarrossel {
        width: 100vw; /* Define a largura igual à largura da tela */
        position: relative; /* Mantém o conteúdo no fluxo do documento */
        left: 50%; /* Move o conteúdo para a esquerda em 50% da largura da tela */
        right: 50%; /* Move o conteúdo para a direita em 50% da largura da tela */
        transform: translateX(-50%); /* Centraliza o conteúdo horizontalmente */
    }

    .carousel-item img {
        width: 100%; /* Define a largura da imagem do carrossel como 100% da largura do contêiner */
    }

    .navbar-expand-xxl, .navbar-expand-xxl, .navbar-expand-lg, .navbar-expand-md, .navbar-expand-sm, .navbar {
        margin-bottom: 0rem !important; /* Retirar a distancia entre navbar e carrossel*/
    }

    .bi-chevron-right, .bi-chevron-left {
        font-size: 3em; /* altera o tamanho dos simbolos que mudam o carrossel*/
    }
</style>

@*Carrossel com paineis *@
<div class="conteinerCarrossel">
    <div class="containerfluid">
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <img src="/img/banners/Inicial.png" class="d-inline w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/img/banners/petshop.png" class="d-inline w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/img/banners/6.png" class="d-inline w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <i class="bi bi-chevron-left text-yellow"></i>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <i class="bi bi-chevron-right text-yellow"></i>
            </button>
        </div>
    </div>
</div>


@*Lançamentos*@
<div class="my-5">
    <h1 class="text-purple font-paytone-one-regular mb-3">Lançamento</h1>

    <div class="w-100 d-flex flex-wrap gap-5 justify-content-center">
        <a asp-action="informacoesproduto" asp-controller="produto" asp-route-id="41">
            <div class="text-center">
                <div class="cardCirculo fundoDarkFuchsia" style="background-image: url(../img/produtos/sachegoldengourmetadultosatum.png)">
                    <div class="cardCirculo-content">
                    </div>
                </div>
                <p class="cardCirculo-content">Sache gourmet</p>
            </div>
        </a>
        <a asp-action="informacoesproduto" asp-controller="produto" asp-route-id="1">
            <div class="text-center">
                <div class="cardCirculo fundoDarkFuchsia" style="background-image: url(../img/produtos/premierobesidade.png)">
                    <div class="cardCirculo-content"></div>
                </div>
                <p class="cardCirculo-content">Nutrição Clínica Obesidade</p>
            </div>
        </a>
        <a asp-action="informacoesproduto" asp-controller="produto" asp-route-id="33">
            <div class="text-center">
                <div class="cardCirculo fundoDarkFuchsia" style="background-image: url(../img/produtos/whiskasadultocarne.png)">
                    <div class="cardCirculo-content"></div>
                </div>
                <p class="cardCirculo-content">Whiskas Peixe</p>
            </div>
        </a>
        <a asp-action="informacoesproduto" asp-controller="produto" asp-route-id="46">
            <div class="text-center">
                <div class="cardCirculo fundoDarkFuchsia" style="background-image: url(../img/produtos/churugalinha.png)">
                    <div class="cardCirculo-content"></div>
                </div>
                <p class="cardCirculo-content">Petisco Churu</p>
            </div>
        </a>

    </div>
</div>

@*Marcas*@
<div class="my-5">
    <h1 class="text-purple font-paytone-one-regular mb-3">Marcas que você pode confiar</h1>
    <div class="w-100 d-flex flex-wrap gap-5 justify-content-center">
        <a asp-action="filtrarfixo" asp-controller="Produto" asp-route-codFornecedor="1">
            <div class="text-center">
                <div class="cardRetangular fundoYellow" style="background-image: url(../img/fornecedores/golden.png);"></div>
            </div>
        </a>
        <a asp-action="filtrarfixo" asp-controller="Produto" asp-route-codFornecedor="2">
            <div class="text-center">
                <div class="cardRetangular fundoYellow" style="background-image: url(../img/fornecedores/farmina.jpg)"></div>
            </div>
        </a>
        <a asp-action="filtrarfixo" asp-controller="Produto" asp-route-codFornecedor="3">
            <div class="text-center">
                <div class="cardRetangular fundoYellow" style="background-image: url(../img/fornecedores/whiskas.png)"></div>
            </div>
        </a>
        <a asp-action="filtrarfixo" asp-controller="Produto" asp-route-codFornecedor="4">
            <div class="text-center">
                <div class="cardRetangular fundoYellow" style="background-image: url(../img/fornecedores/cat.jpg)"></div>
            </div>
        </a>
    </div>
</div>

@*Banner*@
<div class="conteinerCarrossel">
    <div class="containerfluid">
        <img src="~/img/banners/5.png" class="w-100 my-5" />
    </div>
</div>

@*Outros produtos*@
<div class="my-5">
    <h1 class="text-purple font-paytone-one-regular mb-3">Compre roupinhas para o seu amigo</h1>
    <div class="w-100 d-flex flex-wrap gap-5 justify-content-center">
        <a asp-action="informacoesproduto" asp-controller="produto" asp-route-id="62">
            <div class="text-center">
                <div class="cardRetangular fundoLightPurple" style="background-image: url(../img/produtos/sasuke.jpg)"></div>
            </div>
        </a>
        <a asp-action="informacoesproduto" asp-controller="produto" asp-route-id="60">
            <div class="text-center">
                <div class="cardRetangular fundoLightPurple" style="background-image: url(../img/produtos/hokage.jpg); background-size: cover;"></div>
            </div>
        </a>
        <a asp-action="informacoesproduto" asp-controller="produto" asp-route-id="61">
            <div class="text-center">
                <div class="cardRetangular fundoLightPurple" style="background-image: url(../img/produtos/akatsuki.png)"></div>
            </div>
        </a>
        <a asp-action="informacoesproduto" asp-controller="produto" asp-route-id="59">
            <div class="text-center">
                <div class="cardRetangular fundoLightPurple" style="background-image: url(../img/produtos/lufalufa.png)"></div>
            </div>
        </a>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var carousel = document.querySelector('#carouselExample');
        var carouselInterval = null;

        function startCarousel() {
            carouselInterval = setInterval(function () {
                // Simula o clique no botão de avançar
                var nextButton = carousel.querySelector('.carousel-control-next');
                if (nextButton) {
                    nextButton.click();
                }
            }, 5000); // 3000 milissegundos = 3 segundos (intervalo de transição)
        }

        function stopCarousel() {
            clearInterval(carouselInterval);
        }

        // Inicia o carrossel automaticamente ao carregar a página
        startCarousel();

        // Pára o carrossel quando o usuário interagir manualmente com ele
        carousel.addEventListener('mouseenter', stopCarousel);
        carousel.addEventListener('mouseleave', startCarousel);
    });
</script>