@{
    ViewData["Title"] = "Aconteceu um problema";
}

<h1 class="text-yellow font-paytone-one-regular">Vixe... ocorreu um problema!</h1>

<p class="text-darkFuchsia font-paytone-one-regular">@ViewBag.ERRO</p>

<div class="align-content-center">
    <img src="~/img/gifs/gatotriste.gif" />
</div>