
@{
    ViewData["Title"] = "Index";
}

<p style="font-size:2rem;">
    TODO: SE TIVER UM USUARIO LOGADO (VERIFICAR SE ELE ESTÁ NA SESSAO) REDIRECIONA-LO DIRETO PARA A PÁGINA DO USUARIO, 
    SE NÃO TIVER NENHUM SESSAO EM ABERTA ABRE ESSA PÁGINA COM UM FORMS PARA FAZER O LOGIN DO USUARIO
</p>
