@model CatBuddy.Models.ViewEndereco

@{
    ViewData["Title"] = "CadastrarEndereco";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a asp-action="PainelCliente" asp-controller="Cliente" class="btn btn-darkFuchsia">Voltar</a>

<h4 class="text-purple d-flex justify-content-center">Cadastrar Endereço</h4>
<div class="d-flex justify-content-center">
    <fieldset class="col-md-5 fundoYellow">
        <form asp-action="CadastrarEndereco">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="d-flex">
                <div class="form-group col-md-2">
                    <label asp-for="Endereco.cod_logradouro" class="control-label"></label>
                    <select asp-for="Endereco.cod_logradouro" class="form-control">
                        @foreach (Logradouro logradouro in Model.ListLogradouro)
                        {
                            <option value="@logradouro.codLogradouro">@logradouro.nomeLogradouro</option>
                        }
                    </select>
                    <span asp-validation-for="Endereco.cod_logradouro" class="text-danger"></span>
                </div>
                <div class="form-group col-md-10">
                    <label asp-for="Endereco.enderecoUsuario" class="control-label"></label>
                    <input asp-for="Endereco.enderecoUsuario" class="form-control" />
                    <span asp-validation-for="Endereco.enderecoUsuario" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Endereco.bairroUsuario" class="control-label"></label>
                <input asp-for="Endereco.bairroUsuario" class="form-control" />
                <span asp-validation-for="Endereco.bairroUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco.cepUsuario" class="control-label"></label>
                <input asp-for="Endereco.cepUsuario" class="form-control cep" />
                <span asp-validation-for="Endereco.cepUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco.nomeEnderecoUsuario" class="control-label"></label>
                <input asp-for="Endereco.nomeEnderecoUsuario" class="form-control" />
                <span asp-validation-for="Endereco.nomeEnderecoUsuario" class="text-danger"></span>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-lightPurple mt-2"> Cadastrar </button>
            </div>
        </form>
    </fieldset>
</div>

