@model CatBuddy.Models.Cartao

@{
    ViewData["Title"] = "EditarCartao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar Cartao</h1>

<h4>Cartao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditarCartao">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="cod_id_pagamento" class="form-control" hidden />
            <input asp-for="cod_cliente" hidden />
            <div class="form-group">
                <label asp-for="nomeTitular" class="control-label"></label>
                <input asp-for="nomeTitular" class="form-control" />
                <span asp-validation-for="nomeTitular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numeroCartaoCred" class="control-label"></label>
                <input asp-for="numeroCartaoCred" class="form-control credicard" />
                <span asp-validation-for="numeroCartaoCred" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataDeValidade" class="control-label"></label>
                <input asp-for="dataDeValidade" class="form-control credicarddate" />
                <span asp-validation-for="dataDeValidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="codSeguranca" class="control-label"></label>
                <input asp-for="codSeguranca" class="form-control" />
                <span asp-validation-for="codSeguranca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

