@model CatBuddy.Models.Cliente
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewData["MSG_E"] != null)
{
    <p class="alert alert-danger">@Html.Raw(ViewData["MSG_E"])</p>
}

<h4 class="text-purple d-flex justify-content-center">Login</h4>
<div class="d-flex justify-content-center">
    <fieldset class="col-md-5 fundoYellow">
        <form method="post">
            <div class="form-group">
                <label>E-mail</label>
                <input asp-for="Email" class="form-control" placeholder="Email" type="email">
            </div>
            <div class="form-group">
                <label>Senha</label>
                <input asp-for="Senha" class="form-control" placeholder="******" type="password">
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-lightPurple mt-2"> Entrar </button>
            </div>
            <a asp-action="Cadastrar" asp-controller="Cliente" class="text-white d-flex justify-content-center">Criar conta</a>
        </form>
    </fieldset>
</div>


