
@{
    ViewData["Title"] = "PainelCliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>PainelCliente</h1>

<a asp-action="VisualizarPedidos" asp-controller="cliente" class="btn btn-yellow">Acessar pedidos</a>