
@{
    ViewData["Title"] = "PainelCliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>PainelCliente</h1>

<a asp-action="VisualizarPedidos" asp-controller="cliente" class="btn btn-yellow">Acessar pedidos</a>
<a asp-action="CadastrarEndereco" asp-controller="cliente" class="btn btn-yellow">Cadastrar Endereco</a>
<a asp-action="VisualizarEnderecos" asp-controller="cliente" class="btn btn-yellow">Visualizar enderecos</a>
<a asp-action="CadastrarCartao" asp-controller="cliente" class="btn btn-yellow">Cadastar cartão</a>
<a asp-action="VisualizarCartoes" asp-controller="cliente" class="btn btn-yellow">visualizar cartão</a>