@{
    ViewData["Title"] = "Painel Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Painel Cliente</h1>

<div class="d-flex flex-column w-25 gap-2">
    <a asp-action="VisualizarPedidos" asp-controller="cliente" class="btn btn-yellow">Acessar Pedidos</a>
    <a asp-action="VisualizarEnderecos" asp-controller="cliente" class="btn btn-yellow">Visualizar Enderecos</a>
    <a asp-action="VisualizarCartoes" asp-controller="cliente" class="btn btn-yellow">Visualizar Cartão</a>
</div>




