* {
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 14px;
    overflow: hidden auto;
    scrollbar-width: thin;
    scrollbar-color: var(--darkFuchsia) var(--amareloPastel); /* Cor da barra e do fundo */
}

body {
    margin-bottom: 60px;
    background-color: var(--amareloPastel);
}

    body::-webkit-scrollbar {
        width: 8px; /* Largura da barra de rolagem */
    }

    body::-webkit-scrollbar-thumb {
        background-color: var(--darkFuchsia); /* Cor da barra de rolagem */
        border-radius: 10px; /* Borda arredondada */
    }

    body::-webkit-scrollbar-track {
        background-color: var(--amareloPastel); /* Cor de fundo da barra de rolagem */
    }


:root {
    /*Cores padrão*/
    --white: #fff;
    /*Cores do projeto*/
    --amareloPastel: #FDFDE3;
    --purple: #6451A6;
    --lightPurple: #8C7EBF;
    --darkFuchsia: #860F58;
    --yellow: #DAA520;
    /*Cores do projeto em rgb*/
    --amareloPastel--rgb: 248,248,180;
    --purple--rgb: 100,81,166;
    --lightPurple--rgb: 140,126,191;
    --darkFuchsia--rgb: 134, 15, 88;
    --yellow--rgb: 218,165,32;
    /*Cores do proejto com efeito hover*/
    --amareloPastel--hover: #D5BD1E;
    --purple--hover: #322953;
    --lightPurple--hover: #463F60;
    --darkFuchsia--hover: #43082C;
    --yellow--hover: #6D5310;
}

.font-paytone-one-regular {
    font-family: "Paytone One", sans-serif;
    font-weight: 300;
    font-style: normal;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#snackbar {
    min-width: 250px; /* Largura mínima do snackbar */
    background-color: #fff; /* Fundo branco */
    color: #333; /* Cor do texto */
    border-radius: 4px; /* Borda arredondada */
    padding: 16px; /* Espaçamento interno */
    position: fixed; /* Posição fixa */
    z-index: 5; /* Posição acima do conteúdo */
    right: 12px; /* Distância do lado direito */
    top: inherit; /* Distância do topo */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Sombra */
    transition: visibility 0s, opacity 0.5s ease-out; /* Transição suave */
}

a {
    text-decoration: none; /* Remove o sublinhado padrão */
    color: inherit; /* Herda a cor de texto do elemento pai (nesse caso, o texto preto padrão) */
}

    a:hover {
        text-decoration: none; /* Mantém o sublinhado removido mesmo ao passar o mouse */
        color: inherit; /* Mantém a cor de texto herdada */
    }


h1, h2, h3, h4, h5, h6 {
    font-family: Paytone One;
    text-transform: uppercase;
    color: var(--purple)
}

.fundoLightPurple {
    background-color: var(--lightPurple);
}

.fundoDarkFuchsia {
    background-color: var(--darkFuchsia);
    color: white;
}

.fundoAmareloPastel {
    background-color: var(--amareloPastel);
}

.fundoYellow {
    background-color: var(--yellow);
}

.fundoBranco {
    background-color: white;
}

.cardRetangular {
    border-radius: 25px;
    width: 150px;
    height: 150px;
    margin: 1px 8px;
    background-size: contain; /* Garante que a imagem cubra todo o espaço do card */
    background-repeat: no-repeat; /* Evita que a imagem seja repetida */
    background-position: center; /* Centraliza a imagem dentro do card */
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.1); /* Sombra com deslocamento x e y de 0px, desfoque de 10px e cor rgba */
}

.cardCirculo {
    border-radius: 50%;
    width: 170px;
    height: 185px;
    margin: 1px 8px;
    background-size: contain; /* Garante que a imagem cubra todo o espaço do card */
    background-repeat: no-repeat; /* Evita que a imagem seja repetida */
    background-position: center; /* Centraliza a imagem dentro do card */
}

.cardCirculo-content {
    align-content: center;
}

.cardProduto {
    width: 150px;
    height: 350px;
    padding: 2px;
}

.cardProduto-content img {
    width: 150px;
    height: 200px;
}

.card-label {
    padding: 1px 2px;
    border-radius: 15px;
    border: 0.2px solid var(--yellow);
}

    .card-label:hover {
        border: 0.2px solid var(--yellow);
    }

.hideText {
    overflow: hidden; /* Oculta o texto que exceder o tamanho do container */
    text-overflow: ellipsis;
    -webkit-line-clamp: 2; /* Limita o número de linhas a 2 */
    -webkit-box-orient: vertical; /* Ajusta a orientação do layout para vertical */
    display: -webkit-box; /* Necessário para suporte ao line-clamp em navegadores WebKit */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimento padrão */
}

fieldset {
    padding: 8px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Sombra */
}

table th{
    text-transform: uppercase;
    color: var(--darkFuchsia);
    
}

table td{
    color: gray;
}

table {
    border: 1px solid var(--darkFuchsia--rgb);
}

