@model CatBuddy.Models.ViewColaborador

@{
    ViewData["Title"] = "EditarColaborador";
    Layout = "~/Views/Shared/_Layout_Colaborador.cshtml";
}

<h4 class="text-purple d-flex justify-content-center">Editar Colaborador</h4>
<div class="d-flex justify-content-center">
    <fieldset class="col-md-5 fundoDarkFuchsia">
        <form asp-action="EditarColaborador">
            <input asp-for="Colaborador.Senha" value="0" hidden />
            <input asp-for="Colaborador.confirmaSenha" value="0" hidden />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Colaborador.cod_id_colaborador" class="control-label"></label>
                <input asp-for="Colaborador.cod_id_colaborador" class="form-control" readonly />
                <span asp-validation-for="Colaborador.cod_id_colaborador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colaborador.nomeColaborador" class="control-label"></label>
                <input asp-for="Colaborador.nomeColaborador" class="form-control placeholder-name" />
                <span asp-validation-for="Colaborador.nomeColaborador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colaborador.CPF" class="control-label"></label>
                <input asp-for="Colaborador.CPF" class="form-control cpf" />
                <span asp-validation-for="Colaborador.CPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colaborador.Email" class="control-label"></label>
                <input asp-for="Colaborador.Email" class="form-control placeholder-email" />
                <span asp-validation-for="Colaborador.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colaborador.Telefone" class="control-label"></label>
                <input asp-for="Colaborador.Telefone" class="form-control phone_with_ddd" />
                <span asp-validation-for="Colaborador.Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListGenero" class="control-label"></label>
                <select asp-for="Colaborador.codGenero" class="form-control">
                    <option value="0">Selecione uma opção</option>
                    @foreach (Genero genero in Model.ListGenero)
                    {
                        <option value="@genero.cod_id_genero">@genero.ds_genero</option>
                    }
                </select>
                <span asp-validation-for="Colaborador.codGenero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListNivelAcesso" class="control-label"></label>
                <select asp-for="Colaborador.NivelDeAcesso" class="form-control">
                    <option value="0">Selecione uma opção</option>
                    @foreach (NivelAcesso nivelAcesso in Model.ListNivelAcesso)
                    {
                        <option value="@nivelAcesso.cod_id_NivelAcesso">@nivelAcesso.ds_nivelAcesso</option>
                    }
                </select>
                <span asp-validation-for="Colaborador.NivelDeAcesso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Editar" class="btn btn-yellow mt-2 text-center" />
            </div>
        </form>
    </fieldset>
</div>

