
@{
    ViewData["Title"] = "PaginaPrincipal";
    Layout = "~/Views/Shared/_Layout_Colaborador.cshtml";
}

<h2 class="text-yellow font-paytone-one-regular">Olá Usuario, Bem vindo ao portal CatBuddy</h2>

