@model CatBuddy.Models.Colaborador
@{
    ViewData["Title"] = "Página Principal";
    Layout = "~/Views/Shared/_Layout_Colaborador.cshtml";
}

@if (TempData["ViewBagPaginaPrincipalSucesso"] != null)
{
    <div class="alert alert-success">
        @ViewBag.AvisoPaginaPrincipal
    </div>
}


<h2 class="text-yellow font-paytone-one-regular">Olá Usuario, Bem vindo ao portal CatBuddy</h2>

